*

!scripts/
!scripts/**
scripts/*.pyc
scripts/loyalty_vpn

!.config/
!.config/i3/
!.config/i3/**
!.config/conky/
!.config/conky/**
!.config/compton.conf
!.config/dunst/
!.config/dunst/**
.config/i3/blocks/__pycache__/
.config/i3/blocks/__pycache__/**

!.oh-my-zsh/
!.oh-my-zsh/**

!.zsh-git-prompt/
!.zsh-git-prompt/**

!.fonts/
!.fonts/**

!Pictures/
!Pictures/wallpaper*

!.vimrc
!.bashrc
!.zshrc
!.gitignore

*.swp
